apiVersion: v1
data:
  BW_HOST: {{ .Values.secrets.bw_host | b64enc }}
  BW_CLIENTID: {{ .Values.secrets.bw_clientid | b64enc }}
  BW_CLIENTSECRET: {{ .Values.secrets.bw_clientsecret | b64enc }}
  BW_PASSWORD: {{ .Values.secrets.bw_password | b64enc }}
kind: Secret
metadata:
  name: bitwarden-cli
  labels:
    app.kubernetes.io/instance: bitwarden-external-secrets
    app.kubernetes.io/part-of: external-secrets
type: Opaque
